<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mainPage</title>
</head>
<body>
<h1>这是主页</h1>

<h1>Search1</h1>
<form  th:action="@{search1}"  method="post">
    请输入查询对象： <input type="text" name="sortObj" ／>
    请输入查询信息： <input type="text" name="username" ／>
    <input type="submit" value="查询" ／>
</form>


<h1>Search3</h1>
<form  th:action="@{search3}"  method="post">

    请输入查询姓名： <input type="text" name="username" ／>
    请输入查询密码： <input type="text" name="password" ／>

    <input type="submit" value="查询" ／>
</form>

<h1>Search4</h1>
<form  th:action="@{search4}"  method="post">
    是否倒序： <input type="text" name="dir" ／>
    请输入查询姓名： <input type="text" name="username" ／>
    请输入查询密码： <input type="text" name="password" ／>

    <input type="submit" value="查询" ／>
</form>

<table>
    <tr th:each="user :${list}">
        <td th:text="${user}"></td>
    </tr>
</table>
<div><span th:text="${success}"></span></div>
<!--<div><span th:text="${listItems}"></span></div>-->
<!--<div><span th:text="${listPages}"></span></div>-->

</body>
</html>
